<%- include('../partials/header') %>

<h1>Rental view</h1>
<% rentals.forEach(function(r){ %>
  <a href="/rentals/<%=r.id%>">
    <div class="car-card">
      <img src="/images/tesla.jpeg" alt="">
      <div>
        <p><%=r.make%></p>
        <p><%=r.model%></p>
      </div>
    </div>
  </a>
 
<%})%>

<%- include('../partials/footer') %>