<%- include('../partials/header') %>

<h2>Cars Page</h2>
<div class="cars-view">
  <div class="cars">
    <% if(cars){cars.forEach(car => { %>
    <a href="/cars/<%=car._id%>">
      <div class="car-card">
        <div class="car-img">
          <img src="/images/tesla.jpeg" alt="" />
        </div>
        <div>
          <p><%=car.make%></p>
          <p><%=car.model%></p>
        </div>
        <form action="cars/<%=car.id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete" />
        </form>
      </div>
    </a>
    <%})}else{ %>
    <div>You do not have any car</div>
    <%}%>
  </div>

  <div class="requests">
    <h3>My requests</h3>
    <% requests.forEach(function(r){ %> <% if(user.id===r.car.user.valueOf()){ %>
    <div class="car-card">
      <div class="car-img">
        <img src="/images/tesla.jpeg" alt="" />
      </div>
      <div>
        <p><%=r.car.make%></p>
        <p><%=r.car.model%></p>
      </div>
    </div>
    <% } %> <%})%>
  </div>
</div>

<a href="/cars/new">Add Car</a>

<%- include('../partials/footer') %>
